<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>职位管理</title>

  <link rel="stylesheet" href="{{asset '/stylesheets/bootstrap.min.css'}}">
  <link rel="stylesheet" href="{{asset '/stylesheets/bigertech-end-jobs.css'}}">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
  <link rel="stylesheet" href="{{asset '/stylesheets/editor.css'}}">

</head>
<body>
<div class="container">
  <div class="hero-unit">
    <form class="horizontal-form" role="form">
      <div class="form-group">
        <label class="form-label">职位名称</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <label class="form-label">招聘人数</label>
        <input type="number" class="form-control" id="number" required>
      </div>
      <div class="form-group">
        <label class="form-label">职位类别</label>

        <div class="btn-group">
          <select id="type" class="form-control">
              {{#foreach types}}
                <option value="{{id}}">{{name}}</option>
              {{/foreach}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">学历要求</label>
        <input type="text" class="form-control" id="edu">
      </div>
      <div class="form-group">
        <label class="form-label">工作地点</label>

        <div class="btn-group">
          <select id="address" class="form-control">
            <option value='珠海'>珠海</option>
            <option value='深圳'>深圳</option>
            <option value='北京'>北京</option>
          </select>
        </div>
      </div>
      <hr/>
      <div id="alerts"></div>
      <label>职位描述</label>

      <div id="editor">
        <textarea rows="3"></textarea>
      </div>
      <button id="create-job" class="btn btn-primary form-btn-bar">确定</button>
      <a href="/admin/" class="btn btn-primary form-btn-bar">返回</a>
    </form>
  </div>
</div>
<script src="{{asset 'javascripts/libs/jquery-1.10.2.min.js'}}"></script>
<script type="text/javascript" src="{{asset '/javascripts/libs/marked.js'}}"></script>
<script type="text/javascript" src="{{asset '/javascripts/libs/editor.js'}}"></script>
<script>
  $(function () {
    var editor = new Editor();
    editor.render();

    $('#create-job').click(function () {
      var name = $('#name').val().trim();
      var number = $('#number').val().trim();
      var type = $('#type').val().trim();
      var edu = $('#edu').val().trim();
      var address = $('#address').val().trim();
      var description = Editor.markdown(editor.codemirror.getValue());

      if (name == '') {
        alert('「职位名称」不能为空！');
        return false;
      } else if (number < 0) {
        alert('「职位数量」不能小于0！');
        return false;
      } else if (type == '') {
        alert('「职位类型」不能为空！');
        return false;
      } else if (address == '') {
        alert('「职位地址」不能为空！');
        return false;
      }

      if (edu == '') {
        edu = "不限";
      }

      var job = {
        name: name,
        number: number || 0,
        type_id: type,
        address: address,
        description: description,
        edu: edu
      };

      $.post('/admin/create_job/', job, function (data) {
        if (data.status) {
          // alert('「添加职位」成功！');
          window.location.href = '/admin/';
        } else {
          alert('「添加职位」失败！');
        }
      });

      return false;
    });
  });
</script>
</body>
</html>
