<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>职位管理</title>

  <link rel="stylesheet" href="{{asset '/stylesheets/bootstrap.min.css'}}">
  <link href="{{asset '/stylesheets/bootstrap-responsive.min.css'}}" rel="stylesheet">
  <link rel="stylesheet" href="{{asset '/stylesheets/bigertech-end-jobs.css'}}">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="hero-unit">
    <form class="horizontal-form" role="form">
      <div class="form-group">
        <label class="form-label">类别名称</label>
        <input type="text" class="form-control" id="name" value="{{type.name}}" required>
      </div>
      <button id="update-type" class="btn btn-primary form-btn-bar">确定</button>
      <a href="/admin/type/" class="btn btn-primary form-btn-bar">返回</a>
      <input type="hidden" id="type-id" value="{{type.id}}" />
    </form>
  </div>
</div>

<script src="{{asset 'javascripts/libs/jquery-1.10.2.min.js'}}"></script>
<script>
  $(function () {
    $('#update-type').click(function() {
        var id = $('#type-id').val();
        var name = $('#name').val().trim();

        if (name == '') {
            alert('「类别名称」不能为空！');
            return false;
        }

        var type = {
            name: name,
            id: id
        };

        $.post('/admin/update_type/', type, function(data) {
            if (data.status) {
                // alert('「更新类别」成功！');
                window.location.href = '/admin/type';
            } else {
                alert('「更新类别」失败！');
            }
        });

        return false;
    });
  });
</script>

</body>
</html>
