<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="keywords" content="{{meta_title}}">
  <link rel="stylesheet" href="{{asset '/stylesheets/bigertech-jobs.min.css'}}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="jobs-header">
  <img class="logo center-block" src="{{asset '/images/bigertech.png'}}" alt="bigertech">
  <a class="jobs-all center-block" href="#jobs-content">加  入  笔  戈</a>
</div>

<div class="carousel">

  <ul class="carousel-inner">
    {{#foreach members}}
    <li class="item">
      <div class="quote-container">
        <img class="quote-avater left clearfix" src="/uploads/{{img}}" alt="First slide">
        <p class="quote-description left clearfix">"{{maxim}}"</p>
        <h3 class="quote-name"> {{name}} <span class="quote-name-title">{{title}}</span></h3>
      </div>
    </li>
    {{/foreach}}
  </ul>

  <a class="carousel-control prev carousel-control-left "><div class="arrow-left"></div></a>
  <a class="carousel-control next carousel-control-right"><div class="arrow-right"></div></a>
</div>

<div id="jobs-content" class="jobs-content">

  <div id="job-detail-wrapper">
    <div class="job-detail center-block" id="detail">
      <h3 class="job-detail-title" id="detail-name"></h3>
      <div class="close"></div>
      <div class="job-detail-content">
        <h4>工作地点</h4>
        <p class="work-address" id="detail-address"></p>

        <h4>任职资格</h4>
        <div id="detail-desc"></div>

        <h4>简历投递</h4>
        <p class="cv-post">申请职位请发送简历至 bigertech@foxmail.com, 邮件标题注明职位 + 姓名</p>
      </div>
    </div>
  </div>

  <div class="jobs-category center-block">
    {{#foreach types}}
    <h3 class="jobs-category-title">{{name}}</h3>
    <ul class="jobs-category-list center-block">
      {{#foreach jobs}}
      <li id="{{id}}" class="job-name clearfix">{{name}}</li>
      {{/foreach}}
    </ul>
    {{/foreach}}
  </div>

</div>

<div class="footer">
  <p class="footer-info">BIGERTECH ALL RIGH RESERVE</p>
</div>

<script src="{{asset 'javascripts/libs/jquery-1.10.2.min.js'}}"></script>
<script src="{{asset 'javascripts/bigertech-jobs.min.js'}}"></script>
<script>
  $(document).ready(function(){

		$('.carousel').unslider({
			arrows: true,
			fluid: true,
			dots: true
		});

    var unslider = $('.carousel').unslider();

    $('.carousel-control').click(function() {
        var fn = this.className.split(' ')[1];

        //  Either do unslider.data('unslider').next() or .prev() depending on the className
        unslider.data('unslider')[fn]();
    });
  });
</script>
</body>
</html>
